*{font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;}
h1{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(204, 248, 242)
}
p{
 color: rgb(0, 255, 157);
 font-size: 18px;
 font-weight: 100 !important;
}
body{
    background-color: rgb(61,61, 61);
}
#sbutton{
    color:white;
    background-color: blueviolet;
    font-size: 24px;
    padding: 15px;
    border: 2px solid white;
    border-radius:10px;
}
body { background: #555; }
label { font-weight: bold; }
h1 { font-size: 28px; color: white;}
input { width: 250px; }
textarea {min-width: 250px; min-height: 50px; }
input, textarea { max-width: 250px; }
#flwupy { margin-left: -125px; }
#flwupy, #flwupn {margin-right: -100px; }
.flwlbl { font-weight: optional;}
form {min-width: 550px; margin-bottom: 20px;}
.rqd { color: red; font-weight: normal; }
u { 
    color: rgb(45, 188, 255)}
#attach { 
    background: white; !important;
    border: 1px solid gray;
    border-radius: 2px;
}

#fdiv {
    background: #ccc;
    border-radius: 5px;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    /* 30 top/bot, 15 l/r*/
    padding: 30px; 15px;
}
<>
/* Change the highlight color */
*::selection { background: pink;}
*::-moz-selection { background: pink;}

a:link { /* Link that hasn't been visited */
    color: rgb(45, 188, 255);
    text-decoration: none;
    padding: 10px;
}

a:hover { 
    color: rgb(255, 255, 255);
    background: gray;
    text-decoration: underline;
}

a:visited { color: rgb(255, 255, 255);}
a:active { color: rgb(0, 0, 0);}

input {
    /* top right bottom left */
    padding: 6px 12px 6px 12px;
    border: 2px solid purple;
    color: blue
}
input [type=text] {color: purple;}
input [type=text]:focus {
    color: blueviolet;
    border: 5px solid plum;
}
input[type=submit]:hover { background: yellow;}
input[type=submit]:active { background: orangered;}

img { border: 3px solid transparent;}
img:hover { border: 3px solid rgb(200, 0, 255);}
dialog{
    background-color: #555;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
  }
  
  li {
    float: left;
  }
  
  li, a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li, a:hover {
    background-color: #000000;
  }