h1{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(204, 248, 242)
}
p {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 color: rgb(204, 248, 242);
 font-size: 18px;
}
body{
    background-color: rgb(116, 116, 116);
}