h1{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(204, 248, 242)
}
p {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 color: rgb(204, 248, 242);
 font-size: 18px;
}
body{
    background-color: rgb(116, 116, 116);
}
#sbutton{
    color:white;
    background-color: blueviolet;
    font-size: 24px;
    padding: 15px;
    border: 2px solid white;
    border-radius:10px;
}
body { background: #555; }
label { font-weight: bold; }
h1 { font-size: 28px; color: white;}
input { width: 250px; }
textarea {min-width: 250px; min-height: 50px; }
input, textarea { max-width: 250px; }
#flwupy { margin-left: -125px; }
#flwupy, #flwupn {margin-right: -100px; }
.flwlbl { font-weight: optional;}
form {min-width: 550px; margin-bottom: 20px;}
.rqd { color: red; font-weight: normal; }

#attach { 
    background: white; !important;
    border: 1px solid gray;
    border-radius: 2px;
}

#fdiv {
    background: #ccc;
    border-radius: 5px;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    /* 30 top/bot, 15 l/r*/
    padding: 30px; 15px;
}
